.home-container {
	background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
		url('../../img/bg-home.jpg') center center/cover no-repeat;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.home-container > h1 {
	color: white;
	font-size: 100px;
	margin-top: 100px;
	text-align: center;
}

.home-container > p {
	margin-top: 8px;
	color: white;
	font-size: 32px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-content{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.home-item{
    display: block;
    align-items: center;
    text-align: center;
}

.home-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

